$color-brand: #BB945F;
$color-primery-text: #0C0C0E;
$color-background: #0C0C0E;
$color-secondary-text: #000000;
$color-secondary-text-opacity: rgba(0, 0, 0, 1);
$color-button-opacity: rgba(12, 12, 14, 1);
$color-footer-opacity: rgba(255, 255, 255, 1);
$color-header-footer-text: #ffffff;
$color-grey: #8E8E8E;

$font-family-h: 'Forum', cursive;
$font-family-main: 'Inter', 'Verdana', sans-serif;

$content-width: 1440px;
$break-point-width: 1024px;
$tablet-width: 768px;