.button-check {  
  border-radius: 0.2rem;  
  cursor: pointer;
  padding: 1rem 4rem;
  font-family: $font-family-main;   
  text-align: center;
  @include font(2rem, 700, 2.4rem, 0.1rem);   
  background-color: $color-header-footer-text;
  position: absolute;
  top: 30.6rem;
  left: 17.5rem;
} 

.button-check:hover {  
  background-color: $color-brand;  
  border: 0.2rem solid $color-brand;
  transition: 0.5s ease-in-out;
} 