.footer__address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 2rem 1.5rem 2rem;
  padding-top: 2rem;
}

.footer__address-link {
  font-family: $font-family-main;
  color: $color-footer-opacity;
  text-align: left;
  @include font(1.5rem, 400, 2rem, 0rem); 
  a { 
    color: $color-footer-opacity;   
    text-decoration: none;
    cursor: pointer;    
  }
}

.address-link:hover {  
    color: $color-brand; 
}

.footer__icons {  
  display: flex;
  flex-direction: row;
  list-style: none;  
  padding-left: 0;
}

.icon-link {
  margin: 0.5rem 1.85rem 0 0;  
}

.footer-p {
  font-family: $font-family-main;
  color: $color-footer-opacity;
  text-align: right;
  @include font(1.5rem, 400, 2rem, 0rem);
  margin: 0 0 1rem 0;   
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  margin: 0rem 2rem;
}

.info {
  font-family: $font-family-main;
  color: $color-footer-opacity;
  text-align: center;
  @include font(2rem, 400, 2rem, 0.2rem);
  margin: 4rem 0rem;

  a {
    color: $color-footer-opacity;   
    text-decoration: none;
    cursor: pointer;  
    &:hover {
      color: $color-brand;
    } 
  }

  &__school {
    margin-left: 10rem;   
  }  

}

.hover:hover {
  color: $color-brand;
}
